{% extends "plainly/layout.html" %}

{% block body %}
   <div class="introDiv">
         <div class="ggg">
               <h4 class="introHead">Learn Smarter. Read faster</h4>
               <h1 class="syn" >Not Your Regular Synopsis</h1>
               <p class="text2">Plainly has summaries of the world's best books.
                  Save time with plainly by going striaght to the point when you read.Learn faster and Smarter.
                </p>
         </div>
         <h1 class="text3">PLAINLY</h1>
         <div>
            <div class="btn">
            <button type="button" class="btn btn-success">Join for free</button>
            <br/>
            <button type="button" class="btn btn-light">Browse Books</button>
         </div>
      </div>
   </div>
{% endblock %}