@font-face {
  font-family: "Antonio";
  src: url("\Antonio\static\Antonio-Regular.ttf");
  src: url("\Antonio\static\Antonio-Regular.ttf") format("tff"),
  /* url("CustomFont.otf") format("opentype"), */
  /* url("CustomFont.svg#filename") format("svg"); */
  }
body{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: wavy;
    color: #9cdfc6;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  .introDiv{
    display:flex;
    flex-direction: row;
    font-size: 22px;
    height:90vh;
    background-image: url(books.jpg);
    background-repeat: no-repeat;
    
  }
  .introHead{
    margin-top: 15%;
    color: #575c5a;
 

  }
.ggg{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 600px;

}
.text2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vh;
  margin-top: 20%;
  margin-left: 50%;

}
.text3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 0.2;
  bottom: 10px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 208px;
}
.btn button{
  width: 150px;
  height: 50px;
}
  .active {
    background-color: #04AA6D;
  }
